<select id="selectDish" name="selectDish" size="10" onchange="selectedDishChange()" class="form-control">
  <option value="svin" imageLoc="secondDishes/images/svin.jpg" addParams="secondDishes/meatParams.htm">Свинная отбивная</option>
  <option value="kuritsa" imageLoc="secondDishes/images/kuritsa.jpg" addParams="secondDishes/meatParams.htm">Курица с рисом</option>
  <option value="makarony" imageLoc="secondDishes/images/makarony.jpg" addParams="secondDishes/makaronyParams.htm">Макароны с овощами</option>
</select>