<div class="form-group">
  <label class="radio-inline"><input type="radio" name="vegetParam" value="no">Не добавлять овощи</label>
  <label class="radio-inline"><input type="radio" name="vegetParam" value="one">Одна порция</label>
  <label class="radio-inline"><input type="radio" name="vegetParam" value="two" checked>Две порции</label> 
</div>