<select id="selectDish" name="selectDish" size="10" onchange="selectedDishChange()" class="form-control">
  <option value="borsch" imageLoc="firstDishes/images/borsch.jpg" addParams="firstDishes/soupParamsExt.htm">Борщ</option>
  <option value="rassolnik" imageLoc="firstDishes/images/rassolnik.jpg" addParams="firstDishes/soupParamsExt.htm">Рассольник</option>
  <option value="goroh" imageLoc="firstDishes/images/goroh.jpg" addParams="firstDishes/soupParams.htm">Гороховый суп</option>
</select>