<div class="form-group">
  <label class="control-label" for="saltParam">Количество соли:</label>
  <select name="saltParam" id="saltParam" class="form-control">
    <option value="1">Мало</option>
    <option value="2" selected>Средне</option>
    <option value="3">Много</option>
  </select>
</div>
<div class="form-group">
  <label class="radio-inline"><input type="radio" name="sourCreamParam" value="no" checked>Не добавлять сметану</label>
  <label class="radio-inline"><input type="radio" name="sourCreamParam" value="one">Одна порция</label>
  <label class="radio-inline"><input type="radio" name="sourCreamParam" value="two">Две порции</label> 
</div>