<div class="form-group">
  <label class="control-label" for="saltParam">Количество соли:</label>
  <select name="saltParam" id="saltParam" class="form-control">
    <option value="1">Мало</option>
    <option value="2" selected>Средне</option>
    <option value="3">Много</option>
  </select>
</div>