<select id="selectDish" name="selectDish" size="10" onchange="selectedDishChange()" class="form-control">
  <option value="keks" imageLoc="thirdDishes/images/keks.jpg">Кекс</option>
  <option value="bulka" imageLoc="thirdDishes/images/bulka.jpg">Булка с маком</option>
  <option value="smetannik" imageLoc="thirdDishes/images/smetannik.jpg">Сметанник</option>
</select>