﻿@model Task08Application.Models.DetailsViewModel.DetailsViewModel

@{ ViewBag.Title = string.Format("Данные по лекарству \"{0}\"", Model.Medcine.MedcineName); }
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <label>Данные по лекарству "@Model.Medcine.MedcineName"</label>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>Активное вещество:</label>
                @Html.TextBoxFor(model => model.Medcine.ActiveSubstanceName, new {@readonly = "readonly", @class = "form-control"})
            </div>
            <div class="form-group">
                <label>Форма выпуска:</label>
                @Html.TextBoxFor(model => model.Medcine.MedcineFormName, new {@readonly = "readonly", @class = "form-control"})
            </div>
            <div class="form-group">
                <label>Производитель:</label>
                @Html.TextBoxFor(model => model.Medcine.ManufacturerName, new {@readonly = "readonly", @class = "form-control"})
            </div>
            <div class="form-group">
                <label>Аннотация:</label>
                @Html.TextAreaFor(model => model.Medcine.MedcineAnnotation, new {@readonly = "readonly", @class = "form-control"})
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/Home/Order?id=@Model.Medcine.MedcineId.ToString()"><input type="button" value="Заказать" class="btn btn-default"/></a>
            }
            <a href="/Home/Index"><input type="button" value="К списку лекарств" class="btn btn-default"/></a>
            <span id="imageView"></span>
        </div>
    </div>
</div>
<script>
    $('#imageView').load('@Url.Action("ShowMedcineImage", "Home", new { id = @Model.Medcine.MedcineId })');
</script>