﻿@model Task08Application.Models.DetailsViewModel.EditDetailsViewModel

@{ ViewBag.Title = Model.MedcineId > 0 ? "Редактировать лекарство" : "Добавить лекарство"; }
@{ Html.BeginForm("EditMedcine", "Home", FormMethod.Post, new {id = "medcibeData", enctype = "multipart/form-data"}); }
@Html.ValidationSummary(true)
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            @{
                if (Model.MedcineId > 0)
                {
                    <label>Редактировать лекарство</label>
                }
                else
                {
                    <label>Добавить лекарство</label>
                }
            }
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>Название:</label>
                @Html.TextBoxFor(model => model.MedcineName, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.MedcineName, null, new {@class = "text-danger"})
            </div>
            <div class="form-group">
                <label>Активное вещество:</label>
                @Html.DropDownListFor(model => model.ActiveSubstanceId, Model.Substances, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Форма выпуска:</label>
                @Html.DropDownListFor(model => model.MedcineFormId, Model.MedcineForms, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Производитель:</label>
                @Html.DropDownListFor(model => model.ManufacturerId, Model.Manufacturers, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Аннотация:</label>
                @Html.TextAreaFor(model => model.MedcineAnnotation, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.MedcineAnnotation, null, new {@class = "text-danger"})
            </div>
            <div class="fileinput fileinput-new" data-provides="fileinput">
                @{
                    if (Model.MedcineId > 0)
                    {
                        <label>Новое изображение упаковки (если не выбрано изображение не изменится):</label>
                    }
                    else
                    {
                        <label>Изображение упаковки:</label>
                    }
                }
                <input type="file" name="@Html.NameFor(model => model.SelectedFile)" accept="image/x-png, image/jpeg"/>
                @Html.ValidationMessageFor(model => model.SelectedFile, null, new {@class = "text-danger"})
            </div>
            <input type="submit" value="Сохранить" class="btn btn-default"/>
            <a href="/Home/Index"><input type="button" value="Отмена" class="btn btn-default"/></a>
            @{
                if (Model.CurrentImage != null)
                {
                    var imageBase64 = Convert.ToBase64String(Model.CurrentImage);
                    var imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                    <img src="@imageSrc" alt="@Model.CurrentImage" class="img-responsive"/>
                }
            }
        </div>
    </div>
    @Html.TextBoxFor(model => model.MedcineId, new {style = "display:none"})
    @Html.TextBoxFor(model => model.ImageId, new {style = "display:none"})
    @{Html.EndForm();}
</div>
