﻿@model Task08Application.Models.EditUserViewModel.EditUserDetailsViewModel

@if (Model != null)
{
    <div class="form-group">
        <label>Роль пользователя:</label>
        @Html.DropDownListFor(model => model.CurerntRole, Model.Roles, new {@class = "form-control"})
    </div>
}
else
{
    <div class="form-group">
        <label>Какой-то не такой пользовалель.</label>
    </div>
}
