﻿@model Task08Application.Models.EditUserViewModel.EditUserSelectionViewModel

<span id="contentControl">
    @{ ViewBag.Title = "Редактировать пользователя"; }
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label>Редактировать пользователя</label>
            </div>
            <div class="panel-body">
                <form id="userData">
                    <div class="form-group">
                        <label>Пользователь:</label>
                        @Html.DropDownListFor(model => model.SelectedUser, Model.Users, new { @class = "form-control", @selectType = "reloadDetails" })
                        @Html.ValidationMessageFor(model => model.SelectedUser, null, new { @class = "text-danger" })
                    </div>
                    <span id="userView"></span>
                </form>
                <div class="form-group">
                    <input type="button" value="Сохранить" name="Submit" class="btn btn-default" id="saveData" />
                    <a href="/Home/Index"><input type="button" value="Отмена" class="btn btn-default" /></a>
                </div>
            </div>
        </div>
    </div>
</span>
<script>
    $(function() {
        function postData() {
            var msg = $('#userData').serialize();
            $("#userView").html("Подождите. Идёт загрузка.");
            $.ajax({
                url: "@(Url.Action("EditUserDetails"))",
                type: "POST",
                data: msg,
                success: function(data) {
                    $("#userView").html(data);
                },
                error: function() {
                    $("#userView").html("Произошло непоправимое. Обновите страницу и попробуйте снова.");
                }
            });
        }

        $("select[selectType='reloadDetails']").change(function () {
            postData();
        });

        $("#saveData").click(function () {
            var msg = $('#userData').serialize();
            $("#userView").html("Подождите. Идёт сохранение.");
            $.ajax({
                url: "@(Url.Action("SaveUserDetails"))",
                type: "POST",
                data: msg,
                success: function(data) {
                    $("#contentControl").html(data);
                },
                error: function() {
                    $("#userView").html("Произошло непоправимое. Обновите страницу и попробуйте снова.");
                }
            });
        });

        postData();
    });
</script>
