﻿@model Task08Application.Models.IndexViewModel.IndexViewModel

@{ ViewBag.Title = "Список доступных лекарств"; }
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <label>Список доступных лекарств</label>
        </div>
        <div class="panel-body" id="medcineDataContainer">
            @Html.Partial("MedcineData", Model)
        </div>
        <div class="panel-body">
            <form action="/Home/DoError" method="get">
                <input type="submit" value="Генерировать ошибку" name="Submit" class="btn btn-default" />
            </form>
            @if (User.Identity.IsAuthenticated && User.IsInRole("admininstrator"))
            {
                <form action="/Home/AddMedcine" method="get">
                    <input type="submit" value="Добавить" name="Submit" class="btn btn-default"/>
                </form>
            }
        </div>  
    </div>
</div>