﻿@model Task08Application.Models.LoginViewModel.LoginViewModel

@{ ViewBag.Title = "Представьтесь"; }
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <label>Представьтесь</label>
        </div>
        <div class="panel-body">
            <form action="/Home/Login" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label>Имя пользователя:</label>
                    @Html.TextBoxFor(x => x.Login, new {@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.Login, null, new {@class = "text-danger"})
                </div>
                <div class="form-group">
                    <label>Пароль:</label>
                    @Html.PasswordFor(x => x.Password, new {@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.Password, null, new {@class = "text-danger"})
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.RedirectUrl, new {style = "display:none"})
                    <input type="submit" value="Войти" name="Submit" class="btn btn-default"/>
                    <a href="/Home/Index"><input type="button" value="Отмена" class="btn btn-default"/></a>
                    <a href="/Home/VkReg"><input type="button" value="ВКонтакте" class="btn btn-default" /></a>
                </div>
            </form>
        </div>
    </div>
</div>