﻿@model Task08Application.Models.IndexViewModel.IndexViewModel

<form id="medcineContent">
    <table class="table">
        <tr id="textHeaders">
            <th>
                <label>Название</label>
            </th>
            <th>
                <label>Аннотация</label>
            </th>
            <th>
                <label>Активное вещество</label>
            </th>
            <th>
                <label>Форма выпуска</label>
            </th>
            <th>
                <label>Производитель</label>
            </th>
            <th></th>
        </tr>
        <tr id="filters">
            <td></td>
            <td></td>
            <td>
                @if (Model != null && Model.Substances.Any())
                {
                    @Html.DropDownListFor(model => model.SelectedSubstanceValue, Model.Substances, new { @selectType = "filterCombo" })
                }
            </td>
            <td>
                @if (Model != null && Model.MedcineForms.Any())
                {
                    @Html.DropDownListFor(model => model.SelectedMedcineFormValue, Model.MedcineForms, new { @selectType = "filterCombo" })
                }
            </td>
            <td>
                @if (Model != null && Model.Manufacturers.Any())
                {
                    @Html.DropDownListFor(model => model.SelectedManufacturerValue, Model.Manufacturers, new { @selectType = "filterCombo" })
                }
            </td>
            <td></td>
        </tr>
        @if (Model != null)
        {
            foreach (var medcine in Model.MedcineModels)
            {
                <tr id="@medcine.MedcineId">
                    <td>@medcine.MedcineName</td>
                    <td>@medcine.MedcineAnnotation</td>
                    <td>@medcine.ActiveSubstanceName</td>
                    <td>@medcine.MedcineFormName</td>
                    <td>@medcine.ManufacturerName</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Выбор действия
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/Home/Details?id=@medcine.MedcineId.ToString()">Детальный просмотр</a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a href="/Home/Order?id=@medcine.MedcineId.ToString()">Заказать</a></li>
                                    if (User.IsInRole("admininstrator"))
                                    {
                                        <li><a href="/Home/EditMedcine?id=@medcine.MedcineId.ToString()">Редактировать</a></li>
                                        <li><a type="deleteLink" toDelete="@medcine.MedcineId.ToString()">Удалить</a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        }
    </table>
    @if (Model == null || Model.MedcineModels.Count == 0)
    {
        <span>Доступных лекарств нет и не предвидится</span>
    }
    else
    {
        <div id="paging">
            @Html.TextBoxFor(model => model.PageNumber, new { style = "display:none", id = "goToPage" })
            <div class="pagination-container">
                <ul class="pagination">
                    @{
                        int prev = 0;
                        foreach (var page in Model.GetPages())
                        {
                            if (page - prev > 1)
                            {
                                <li class="disabled"><a>...</a></li>
                            }
                            if (page != Model.PageNumber)
                            {
                                <li><a type="pagerLink" page="@page">@page</a></li>
                            }
                            else
                            {
                                <li class="active"><a>@page</a></li>
                            }
                            prev = page;
                        }
                    }
                </ul>
            </div>
        </div>
    }
</form>
<script>
    $(function() {
        function postData() {
            var msg = $('#medcineContent').serialize();
            $("#medcineDataContainer").html("Подождите. Идёт загрузка.");
            $.ajax({
                url: "@(Url.Action("MedcineData"))",
                type: "POST",
                data: msg,
                success: function(data) {
                    $("#medcineDataContainer").html(data);
                },
                error: function() {
                    $("#medcineDataContainer").html("Произошло непоправимое. Обновите страницу и попробуйте снова.");
                }
            });
        }

        $("select[selectType='filterCombo']").change(function() {
            postData();
        });

        $("a[type='pagerLink'][page]").click(function() {
            $("input[id='goToPage']").val($(this).attr("page"));
            postData();
        });

        $("a[type='deleteLink'][toDelete]").click(function () {
            var cnf = confirm("Вы уверены в необхлодимости удаления. Данные по заказам и изображения могут быть потеряны безвозвратно.");
            if (cnf) {
                window.location.href = "/Home/DeleteMedcine?id=" + $(this).attr("toDelete");
            }
        });
    });
</script>