﻿@{
    if (ViewBag.MedcineImage != null)
    {
        var imageBase64 = Convert.ToBase64String(ViewBag.MedcineImage);
        var imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
        <img src="@imageSrc" alt="@ViewBag.MedcineImage" class="img-responsive" />
    }
    else
    {
        <label>Изображение упаковки недоступно</label>
    }
}