﻿@model Task08Application.Models.OrderViewModel.OrderViewModel

@{ ViewBag.Title = string.Format("Заказ лекарства \"{0}\"", Model.Medcine.MedcineName); }
@{ Html.BeginForm("Order", "Home", FormMethod.Post, new { id = "orderData" }); }
@Html.ValidationSummary(true)
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <label>Заказ лекарства "@Model.Medcine.MedcineName"</label>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>Имя:</label>
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Фамилия:</label>
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Контактный телефон:</label>
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhoneNumber, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Адрес электронной почты:</label>
                @Html.TextBoxFor(model => model.EMailAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EMailAddress, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Адрес доставки:</label>
                @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Комментарий к заказу (укажите колчество, если требуется более одной упаковки):</label>
                @Html.TextAreaFor(model => model.Comments, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Comments, null, new { @class = "text-danger" })
            </div>
            <input type="submit" class="btn btn-default" value="Заказать" />
        </div>
    </div>
</div>
@Html.TextBoxFor(model => model.Medcine.MedcineId, new { style = "display:none" })
@{Html.EndForm();}