﻿@model Task08Application.Models.RegisterViewModel.RegisterViewModel

@{ ViewBag.Title = "Введите ваши данные"; }
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <label>Введите ваши данные</label>
        </div>
        <div class="panel-body">
            <form action="/Home/Register" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label>Имя пользователя:</label>
                    @Html.TextBoxFor(x => x.Login, new {@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.Login, null, new {@class = "text-danger"})
                </div>
                <div class="form-group">
                    <label>Пароль:</label>
                    @Html.PasswordFor(x => x.Password, new {@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.Password, null, new {@class = "text-danger"})
                </div>
                <div class="form-group">
                    <label>Подтверждение пароля:</label>
                    @Html.PasswordFor(x => x.ConfirmPassword, new {@class = "form-control"})
                    @Html.ValidationMessageFor(x => x.ConfirmPassword, null, new {@class = "text-danger"})
                </div>
                <div class="form-group">
                    <input type="submit" value="Регистрация" name="Submit" class="btn btn-default"/>
                    <a href="/Home/Index"><input type="button" value="Отмена" class="btn btn-default"/></a>
                </div>
            </form>
        </div>
    </div>
</div>
