﻿    /*Is taken from http://stackoverflow.com/questions/19756997/how-to-create-a-sticky-footer-that-plays-well-with-bootstrap-3 */
    html, body {
      height: 100%;
      /* The html and body elements cannot have any padding or margin. */
    }

    /* Wrapper for page content to push down footer */
    #wrap {
      min-height: 100%;
      height: auto;
      /* Negative indent footer by its height */
      margin: 0 auto -50px;
      /* Pad bottom by footer height */
      padding: 0 0 50px;
    }
    #footer {
      height: 50px;
      background-color: #f5f5f5;
    }
    .content {
      width: auto;
      padding: 0 15px;
    }
    .content .credit {
      margin: 20px 0;
    }
