﻿<!DOCTYPE html>
<link href="../../content/bootstrap.min.css" rel="stylesheet">
<link href="../../content/FooterStyle.css" rel="stylesheet">
<script src="../../Scripts/jquery-1.10.2.js"></script>
<script src="../../Scripts/jquery.validate.js"></script>
<script src="../../Scripts/jquery.validate.unobtrusive.js"></script>
<script src="../../Scripts/bootstrap.min.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div id="wrap">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-nav navbar-left">
                    <li><p class="navbar-text">Добро пожаловать, @User.Identity.Name</p></li>
                </ul>
            }
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <li><a href="/Home/Logout"><span class="glyphicon glyphicon-user"></span> Выйти</a></li>
                    if (User.IsInRole("admininstrator"))
                    {
                        <li><a href="/Home/EditUser"><span class="glyphicon glyphicon-user"></span> Редактировать роли пользователей</a></li>
                    }
                }
                else
                {
                    <li><a href="/Home/Login"><span class="glyphicon glyphicon-user"></span> Войти</a></li>
                    <li><a href="/Home/Register"><span class="glyphicon glyphicon-user"></span> Регистрация</a></li>
                }
            </ul>
        </div>
    </nav>

    <div class="content">
        @RenderBody()
    </div>
</div>

    <div id="footer">
        <div class="container">
            <a href="#" id="refreshOrders">Последние заказанные лекарства (нажмите, чтобы обновить).</a>
            <div id="ordersContainer">
                Нет данных
            </div>
            <div id ="loading">Загружаю. Ждите...</div>
        </div>
    </div>
    <script>
        function getData() {
            $.ajax({
                type: "GET",
                url: "/api/lastorders",
                beforeSend: function () {
                    $('#ordersContainer').hide();
                    $('#loading').show();
                },
                error: function () {
                    $('#ordersContainer').empty();
                    $('#ordersContainer').innerText = 'Ошибка и неичего не видно.';
                    $('#ordersContainer').show();
                    $('#loading').hide();
                },
                success: function (data) {
                    $('#ordersContainer').empty();
                    if (data == null || data.length === 0) {
                        $('#ordersContainer').innerText = 'Ничего не заказано';
                    } else {
                        for (var i = 0; i < data.length; i++) {
                            if (i === data.length - 1)
                                separ = '.';
                            else
                                separ = '; ';
                            $('#ordersContainer').append('<a href="/Home/Details?id=' + data[i].m_Item1 + '">' + data[i].m_Item2 + '</a>' + separ);
                        }
                    }
                    $('#ordersContainer').show();
                    $('#loading').hide();
                }
            });
        }

        $(document).ready(function() {
            getData();
            $("#refreshOrders").click(function(e) {
                getData();
            });
        });
    </script>
</body>
</html>
