﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <hgroup>
        <h1>Ошибка.</h1>
        <h2>По какой-то непонятной причине вы попалу туда, куда попадать не стоит. Вернитесь назад.</h2>
    </hgroup>
    <a href="/Home/Index">К списку лекарств</a>
</body>
</html>
